.buttonOn{
    border-radius:40px;
    border:2px solid #aaaa22;
    padding:8px 10px 8px 10px;
    display:none;
    cursor:pointer;
    font-size:19px;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    background-color: #156415;
    width:48px;
    color: white;
}
.button{
    border-radius:40px;
    border:2px solid #aaaa22;
    padding:8px 10px 8px 10px;
    display:inline-block;
    cursor:pointer;
    font-size:19px;
    font-weight:bold;
    text-align: center;
    text-decoration:none;
    background-color: #641515;
    width:48px;
    color: white;
    /*text-shadow:1px 1px 1px #ffee66;*/
}
.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}